*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

* {
	line-height: calc(1em + 0.5rem);
}


:focus {
	outline: none;
}

body {
	margin: 0;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #132742;
	color: #ffffff;

	height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
}

.App__home {
	width: min(90vw, 600px);
}

.App__home > #logo {
	display: inline-block;
	width: clamp(100px, 100px + 3vw, 200px);
}

.App__home-title {
	font-size: clamp(2rem, 1rem + 3vw, 9rem);
	/* font-size: 8.5rem; */
	font-weight: 500;
}

.App__home-title > p {
	font-size: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 2rem;
}

.inputControl {
	position: relative;
}

/* .gg-link {
	position: absolute;
} */

.iconLink {
	position: absolute;
	transform: translateY(1.9rem) translateX(1.6rem);
	color: rgb(255, 255, 255);
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

input {
	background: rgba(255, 255, 255, 0.15);
	color: #ffffff;

	border: 1px solid #14384d;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	width: 100%;
	padding: 1.7rem 1.7rem 1.7rem 5.3rem;

	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #ffffff;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #ffffff;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}
:-ms-input-placeholder {
	/* IE 10+ */
	color: #ffffff;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #ffffff;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.8rem;
	font-weight: 400;
}

.btn {
	background: #ffffff;
	color: #000000;

	font-size: 1.8rem;
	border: none;
	box-shadow: none;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	width: 100%;
	padding: 1.6rem;

	cursor: pointer;
	/* height: 54px; */
}
@media screen and  (max-width: 640px ) {
	html{
		font-size: 50%;
	}
}