*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
}

:focus {
	outline: none;
}

body {
	margin: 0;
	font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.6rem;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: #132742;
	color: #ffffff;
}

#backToHome {
	background: #ffffff;
	color: #132742;
	font-size: 2rem;
	font-weight: 500;
	border: none;

	padding: 0.5rem 2rem;

	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	text-decoration: none;
}
